<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>

        <trace autoflush="true" />
        
        <sources>
            <source name="System.Net" maxdatasize="1024" switchValue="Information">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>
            <source name="System.Net.Cache" maxdatasize="1024" switchValue="Information">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>
            <source name="System.Net.Http" maxdatasize="1024" switchValue="Information">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>       
            <source name="System.Net.Sockets" maxdatasize="1024" switchValue="Verbose">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>       
            <source name="System.Net.HttpListener" maxdatasize="1024" switchValue="Information">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>            
        </sources>

        <sharedListeners>
            <add name="MyTraceFile" 
            type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\tmp\logs\testrequest.log"
                traceOutputOptions="DateTime, Callstack" />
          <!-- 
                      <add name="MyTraceFile" 
            type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\tmp\logs\testrequest.log"
                traceOutputOptions="DateTime, Callstack" />
                -->
            <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
        </sharedListeners>

    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>